/*
@import url("https://g00d4all.github.io/fonts/cm-unicode/Serif/cmu-serif.css");
*/

.button {
  border-radius: 10px;
  background: transparent;
}

#icon {
  display: none;
}

.solution {
  display: none;
  color: blue;
}

.preset {
  display: ;
}

span.image.block {
  display: block;
  text-align: center;
}

img.tikz {
  margin: 8px auto
}

._table {
  display: table;
  border-collapse: collapse;
  margin: 0 auto;
  }
._caption {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  }
._thead {
  display: table-header-group;
  text-align: center;
  font-weight: bold;
  }
._tbody {
  display: table-row-group;
  }
._tfoot {
  display: table-footer-group;
  text-align: center;
  font-weight: bold;
  }
._tr {
  display: table-row;
  }
._tr:nth-child(even) {
  background-color: #f2f2f2;
  }
._th, ._td {
  display: table-cell;
  border: 1px solid gray;
  padding: 0 10px;
  }
.extra {
  display: block;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}

li {
  margin-bottom: 0.5em;
}

li br {
  content: '\A' !important;
  display: block !important;
  margin-bottom: 0.5em !important;
}
