.button {
  border-radius: 10px;
  background: transparent;
}
#icon {
  display: none;
}

.solution {
  display: none;
  color: blue;
}
.preset {
  display: ;
}

span.image.block {
  display: block;
  text-align: center;
}

img.tikz {
  margin: 8px auto
}
