@import url("https://g00d4all.github.io/fonts/cm-unicode/Serif/cmu-serif.css");

.button {
  border-radius: 10px;
  background: transparent;
}

#icon {
  display: none;
}

.solution {
  display: none;
  color: blue;
}

.preset {
  display: ;
}

span.image.block {
  display: block;
  text-align: center;
}

img.tikz {
  margin: 8px auto
}

li {
  margin-bottom: 0.5em;
}

li br {
  content: '\A' !important;
  display: block !important;
  margin-bottom: 0.25em !important;
}
