.button {
  border-radius: 10px;
  background: transparent;
}

#icon {
  display: none;
}

.dflc {
  display: inline-block;
  width: 20%;
  text-align: left;
  vertical-align: top;
}
.dfrc {
  display: inline-block;
  width: 80%;
  text-align: left;
  vertical-align: top;
}
.pt {
  font-family: "Segoe UI", Tahoma, Verdana, Helvetica, Arial, sans-serif;
}
.is {
  display: inline-block;
  padding-left: 1em;
}
.sc {
  font-variant: small-caps;
}
.bl {
  display: inline-block;
  width: 125px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  text-align: center;
  color: blue;
  background: transparent;
  font-sze: inherit;
}
.ha {
  display: none;
}
.cc {
  border: none;
  border-radius: 20px;
}
.salc {
  display: inline-block;
  width: 70%;
  text-align: left;
  vertical-align: top;
}
.sarc {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
}
.ac {
  display: inline-block;
  width: 25%;
  text-align: left;
  vertical-align: top;
}
.ms {
  display: none;
}
.hint {
  position: fixed;
  top: 20%;
  left: -100px;
  transition: all 0.3s ease-in;
  padding: 0px;
  width: 125px;
  text-align: right;
  color: blue;
  background: #f2f2f2;
  opacity:0.75;
  border-radius: 0 10px 10px 0;
}
.mp {
  position: fixed;
  transform-origin: top left;
  transform: rotate(90deg);
  top: 40%; left:25px;
  display: none;
  height: 25px;
}


html * { 
  font-family: Times, "Times New Roman", Georgia, serif;
}
div {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: justify;
}
/* clears the 'X' from Internet Explorer & Edge */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
